/* Error: $map: "small" is not a map.
 *   ,
 * 3 |     $raw-query:map-get($breakpoint,$breakpoint);
 *   |                ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
 *   '
 *   assets\scss\abstracts\_mixins.scss 3:16  respond-to()
 *   assets\scss\base\_base.scss 8:5          @import
 *   assets\scss\main.scss 5:9                root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: $map: "small" is not a map.\a   \2577 \a 3 \2502      $raw-query:map-get($breakpoint,$breakpoint);\d\a   \2502                 ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^\a   \2575 \a   assets\\scss\\abstracts\\_mixins.scss 3:16  respond-to()\a   assets\\scss\\base\\_base.scss 8:5          @import\a   assets\\scss\\main.scss 5:9                root stylesheet';
}
